*{
    box-sizing: border-box;     
    font-family: cursive;

}

h1{
    font-size: 300%;
    text-align: center;
    color:white;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:5px;
}
hr{
	line-height:2em;
	padding:20px;
	font-weight:bold;
	color:black;
	width:80%;
}

body{
	background-color:floralwhite;
}
.container{
		background-color:darkblue;
		width:100%;
		height:80px;
}

.row div{
	margin-bottom:20px;
}

div .main-content{
    border:2px solid black;
    background-color:deepskyblue;
    border-radius: 15px;
}

.dishname{
    float:right;
    border:2.5px solid black;
    background-color: yellowgreen;
    text-align: center;
    color: white;
    padding:8px;
    font-size: 25px;
    border-radius: 10px;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:5px;
}
p{
    clear:both;
    font-size:16px;
    font-family:monospace;
    color:white;
	padding:16px;
}

.contact{
text-align:center;
bottom:0;
right:0;
/*position:absolute;*/
}
